* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
a {
  cursor: pointer;
  text-decoration: none;
  color: #212121;
  font-weight: 500;
}
button {
  cursor: pointer;
}
nav {
  padding: 11px 14px 11px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
input {
  min-height: 42px;
  border: 1px solid #d9d9d9;
}
.navbarLeft {
  display: flex;
  align-items: center;
}
.logo {
  margin-right: 40px;
  cursor: pointer;
}
.inputSearch {
  min-width: 300px;
  padding-left: 13px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.inputWrapper {
  position: relative;
}
.btnSearch {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background-color: #f65858;
  width: 42px;
  height: 42px;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.inputView {
  min-width: 294px;
  padding-left: 17px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.navbarRight {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 22px;
}
.language {
  margin-right: 4px;
}
.navbarRight button {
  width: 83px;
  height: 36px;
  background-color: #00798a;
  color: #ffffff;
  border: none;
  border-radius: 8px;
}
main {
  max-width: 1196px;
  margin: 0 auto;
}
h1 {
  font-size: 42px;
  margin-bottom: 24.5px;
}
.meetUp {
  display: flex;
  align-items: center;
  min-height: 434px;
}
.meetUpLeft p {
  font-size: 16px;
  margin-bottom: 24px;
}
.meetUpLeft button {
  background-color: #00798a;
  border: none;
  color: #ffffff;
  border-radius: 8px;
  width: 125px;
  height: 40px;
}
.eventsTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}
.eventsTop button {
  width: 239px;
  height: 44px;
  background-color: #97cad11f;
  color: #00798a;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 600;
}
.eventsTop img {
  margin-left: 15px;
}
.eventsTop a {
  font-size: 16px;
  color: #00798a;
}
.leftTitleGroup {
  display: flex;
  align-items: center;
  gap: 15px;
}
.leftTitleGroup h3 {
  font-size: 28px;
}
.eventsCards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(272px, 1fr));
  gap: 24px;
}

.cardEvent {
  max-width: 272px;
}
.eventsCardTop img {
  width: 100%;
  margin-bottom: 12px;
}
.eventsCardBottom {
  display: flex;
  gap: 22px;
  flex-direction: column;
}
.eventsCardBottom h4 {
  font-size: 20px;
}
.typeEvent {
  font-size: 14px;
}
.dataEvent {
  font-size: 14px;
  text-transform: uppercase;
}
.cardInfo {
  display: flex;
  gap: 16px;
  margin-bottom: 76px;
}
.cardInfo p {
  font-size: 16px;
}
.dataEvent img,
.quantity img,
.status img {
  vertical-align: middle;
}
.onlineTop h3 {
  font-size: 28px;
}
.onlineTop {
  margin-top: 40px;
}
