* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
a {
  cursor: pointer;
  text-decoration: none;
  color: #212121;
  font-weight: 500;
}
button {
  cursor: pointer;
}
nav {
  padding: 11px 14px 11px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
input {
  min-height: 42px;
  border: 1px solid #d9d9d9;
}
.navbarLeft {
  display: flex;
  align-items: center;
}
.logo {
  margin-right: 40px;
  cursor: pointer;
}
.inputSearch {
  min-width: 300px;
  padding-left: 13px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.inputWrapper {
  position: relative;
}
.btnSearch {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background-color: #f65858;
  width: 42px;
  height: 42px;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.inputView {
  min-width: 294px;
  padding-left: 17px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.navbarRight {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 22px;
}
.language {
  margin-right: 4px;
}
.navbarRight button {
  width: 83px;
  height: 36px;
  background-color: #00798a;
  color: #ffffff;
  border: none;
  border-radius: 8px;
}
